[
  {
    "name": "RCB 2026 Mens Striper Polo - Red",
    "url": "https://shop.royalchallengers.com/merchandise",
    "in_stock_selector": "body",
    "use_js_render": true,
    "in_stock_keywords": ["RCB 2026 Mens Striper Polo - Red"]
  }
]
